<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <p>Hi <%- name %></p>
      ,
      <br />

      <p>
        <%- email %> sent you a friend request, kindly login into your account
        and review your request.
      </p>
      <br />
      <br />
      <br />
      <div style="width: 100%; display: flex; justify-content: center">
        <a
          style="
            padding: 9px 12px;
            border-radius: 5px;
            background-color: blue;
            color: white;
          "
          href="<%- url %>"
          >Log into your account
        </a>
      </div>
    </div>
  </body>
</html>
